<% include ../partials/header %>
<% include ../partials/navbar %>

<h1>New blog</h1>
<form action="/blogs/new" method="POST">
    <input type="text" name="name" placeholder="Blog title">
    <input type="text" name="image" placeholder="Image url">
    <input type="text" name="description" placeholder="Write your story here">
    <input type="submit">
</form>

<% include ../partials/footer %>