<link rel="stylesheet" href="/stylesheets/navbar.css">   
<nav class="wrapper navbar-own">
    <a class="col-home" href="/">
        Home
    </a>
    <a class="col-blogs" href="/blogs">
        Blogs
    </a>
    <a class="col-app" href="/app/">
        Apps
    </a>
    <a class="col-about" href="/about">
        About Me
    </a>       
    <%	if(!currentUser) { %>
    <a class="col-login" href="/login">Sign in</a>
    <a class="col-register" href="/register">Register</a> 
    <% }	else { %>
    <a class="col-new-blog" href="/blogs/new">
        New blog
    </a> 
    <a class="col-logout" href="/Logout">Logout</a>

    <a id="signed-in" class="col-signed"> Signed in as <%= currentUser.username %></a>


<% } %>        
    </nav>

