<% include partials/header %>
<% include partials/navbar %>

<h1 class="main-header">My name is Janne Hellsten</h1>

<div class="main-container">
    <div class="module">    
        <h2>This is my blog site</h2>

        <p>I'm using this site for my portfolio and just to try new things</p>
        <p>I'm open to all comments about my code and design, please do comment! :)</p>
    </div>  
</div>
<% include partials/footer %>