body {
    background-color: rgba(2, 41, 104, 0.8);
    font-family: "Roboto", "sans-serif";
}
a:visited {
    color: black;
}
.blogs-wrapper {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: minmax(5em, auto);
    grid-gap: 2px;
    justify-content: center;
}

.blogs-header {
    text-align: center;
}

.blog-name {
    text-align: center;
}

.blog-image {
    grid-template-columns: 50%;
    justify-content: center;
}

.blogs-desc {
    display: grid;
    grid-template-columns: 1fr, 2fr;
}

.blog-author {
    justify-content: left;
    grid-column: 1 / 2;
}

.read-more {
    justify-content: right;
    grid-column: 2 / 2;
    border-radius: 28px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background: #3498db;
    opacity: 0.7;
    color: antiquewhite;
}
.read-more:hover {
    background: #131c21;
    text-decoration: none;
  }

.ui.form{
    margin: 3em;
    padding: 1em;
}

#footer-text{
    position: fixed;
    bottom: 0.2em;
    width: 100%;
    height: 40px;
    text-align: center;
}