.navbar-own {
    background: rgba(6, 30, 66, 0.699);
    -webkit-box-shadow: 0.5em 0.75em 3px rgba(2, 15, 35,0.2);
            box-shadow: 0.5em 0.75em 3px rgba(2, 15, 35,0.2);
}

.wrapper > a {
    font-size: 18px;
    margin: 5px;
    padding: 0.5em 1em 0.5em 1em;
    width: 10%;
    text-decoration: none;
    color: antiquewhite;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    -webkit-box-shadow: 6px 6px 2px rgba(2, 15, 35,0.2);
            box-shadow: 6px 6px 2px rgba(2, 15, 35,0.2);
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
        transition-delay: 100ms;
}
  
.wrapper > a:hover {
    text-decoration: none;
    -webkit-transition-delay: 100ms;
         -o-transition-delay: 100ms;
            transition-delay: 100ms;
    -webkit-box-shadow: 3px 3px 2px rgba(2, 15, 35,0.2);
            box-shadow: 3px 3px 2px rgba(2, 15, 35,0.2);
    top: 2px;
    opacity: 0.5;
}

.wrapper > a:active {
    -webkit-box-shadow: 0px 0px 2px rgba(2, 15, 35,0.2);
            box-shadow: 0px 0px 2px rgba(2, 15, 35,0.2);
    top: 4px;
}

#signed-in {
    color: rgba(35, 223, 82, 0.8);
}

.alert {
    margin-top: 20px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
          justify-content: center;  
  -ms-flex-wrap: nowrap;  
      flex-wrap: nowrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 10px;
}
/* Media queries */
@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    .wrapper {
        background: rgba(6, 30, 66, 0.699);
        margin: 0;
    }
    .wrapper > a {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        width: 20%;
    }

}