.navbar-own {
    background: rgba(6, 30, 66, 0.699);
    -webkit-box-shadow: 0.5em 0.75em 3px rgba(2, 15, 35,0.2);
            box-shadow: 0.5em 0.75em 3px rgba(2, 15, 35,0.2);
}

.wrapper > a {
    font-size: 18px;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    color: antiquewhite;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    -webkit-box-shadow: 6px 6px 2px rgba(2, 15, 35,0.2);
            box-shadow: 6px 6px 2px rgba(2, 15, 35,0.2);
}
  
.wrapper > a:hover {
    text-decoration: none;
    -webkit-transition-delay: 100ms;
         -o-transition-delay: 100ms;
            transition-delay: 100ms;
    -webkit-box-shadow: 3px 3px 2px rgba(2, 15, 35,0.2);
            box-shadow: 3px 3px 2px rgba(2, 15, 35,0.2);
    top: 2px;
}

.wrapper > a:active {
    -webkit-box-shadow: 0px 0px 2px rgba(2, 15, 35,0.2);
            box-shadow: 0px 0px 2px rgba(2, 15, 35,0.2);
    top: 4px;
}

#signed-in {
    color: rgba(35, 223, 82, 0.8);
}

.alert {
    margin-top: 20px;
}

.wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
    "col-home col-blogs col-app col-about col-new-blog col-login col-reg col-logout col-signed col-signed";
    padding: 5px 10px 5px 10px;
    grid-gap: 10px;
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    -ms-grid-rows: 65px;
        grid-template-rows: 65px;
}
/* Media queries */
@media screen and (max-width: 600px) {
	.wrapper {
            grid-template-areas: "col-home col-blogs"
                             "col-app col-about"
                             "col-new-blog col-new-blog"
                             "col-login blogs-header"
                             "col-reg ."
                             "col-logout col-signed";
		-ms-grid-columns: 45% 45%;
		    grid-template-columns: 45% 45%;
		-ms-grid-rows: auto;
		    grid-template-rows: auto;
        background: rgba(6, 30, 66, 0.699);
        border-radius: 25px;
        margin: 2px;
        padding: 10px;
    }
    .wrapper > a {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 25px;
    }

}
.col-home {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: col-home;
}

.col-blogs {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: col-blogs;
}

.col-app {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: col-app;
}

.col-about {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: col-about;
}

.col-new-blog {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: col-new-blog;
}

.col-login {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: col-login;
}

.col-register {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
    grid-area: col-reg;
}

.col-logout {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
    grid-area: col-logout;
}

.col-signed {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
    grid-area: col-signed;
}