<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="main-container">
    <div class="module">
        <h1>Apps are coming soon!</h1>
    </div>
</div>
<% include ../partials/footer %>